
{% comment %} Add padding bottom for toolbar mobile {% endcomment %}
{% liquid
  assign placeholder = 'newsletter.email' | t
  assign template = template | split: '.' | first
  if template != 'product'
    assign pb_mobile = '--pb-mobile: 53px'
  else
    assign pb_mobile = ''
  endif
%}

{% comment %} Sticky add cart is hidden when reach here {% endcomment %}
<xo-sticky-hidden xo-name='sticky-addcart'></xo-sticky-hidden>
<footer {% render 'section-attr', style: pb_mobile %} class='footer-modern'>
  {% render 'section-bg-image' %}
  
  {% comment %} Main Footer Content - 3 Column Layout {% endcomment %}
  <xo-container {% render 'section-layout' %}>
    <xo-grid style='--xs: 1; --sm: 2; --lg: 3' class='footer-modern__columns'>
      
      {% comment %} Column 1 - Information {% endcomment %}
      <div class='footer-modern__column'>
        <xo-animate xo-cascade>
          <h3 class='footer-modern__heading'>{{ section.settings.info_heading | default: 'Information' }}</h3>
          {%- if section.settings.info_menu != blank -%}
            <ul role='list' class='footer-modern__list list-unstyled'>
              {%- for link in section.settings.info_menu.links -%}
                <li class='footer-modern__list-item'>
                  <a href='{{ link.url }}' class='footer-modern__link'>
                    {{ link.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- else -%}
            <ul role='list' class='footer-modern__list list-unstyled'>
              <li class='footer-modern__list-item'>
                <a href='/pages/privacy-policy' class='footer-modern__link'>Privacy Policy</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='/pages/terms-conditions' class='footer-modern__link'>Terms & Conditions</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='/pages/return-refund-policy' class='footer-modern__link'>Return & Refund Policy</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='/pages/delivery-information' class='footer-modern__link'>Delivery Information</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='/pages/contact-us' class='footer-modern__link'>Contact Us</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='{{ section.settings.amazon_link }}' class='footer-modern__link' {% if section.settings.amazon_link != blank %}target='_blank'{% endif %}>Shop on Amazon</a>
              </li>
            </ul>
          {%- endif -%}
        </xo-animate>
      </div>

      {% comment %} Column 2 - Customer Support {% endcomment %}
      <div class='footer-modern__column'>
        <xo-animate xo-cascade>
          <h3 class='footer-modern__heading'>{{ section.settings.support_heading | default: 'Customer Support' }}</h3>
          {%- if section.settings.support_menu != blank -%}
            <ul role='list' class='footer-modern__list list-unstyled'>
              {%- for link in section.settings.support_menu.links -%}
                <li class='footer-modern__list-item'>
                  <a href='{{ link.url }}' class='footer-modern__link'>
                    {{ link.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- else -%}
            <ul role='list' class='footer-modern__list list-unstyled'>
              <li class='footer-modern__list-item'>
                <a href='/pages/faq' class='footer-modern__link'>FAQ</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='{{ routes.account_url }}' class='footer-modern__link'>My Account</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='{{ routes.blogs_url }}' class='footer-modern__link'>Blog</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='/pages/how-to-order' class='footer-modern__link'>How to Order</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='/pages/track-order' class='footer-modern__link'>Track Order</a>
              </li>
              <li class='footer-modern__list-item'>
                <a href='{{ section.settings.payment_link }}' class='footer-modern__link' {% if section.settings.payment_link != blank %}target='_blank'{% endif %}>Payment Link</a>
              </li>
            </ul>
          {%- endif -%}
        </xo-animate>
      </div>

      {% comment %} Column 3 - Newsletter Subscription {% endcomment %}
      <div class='footer-modern__column footer-modern__column--newsletter'>
        <xo-animate xo-cascade>
        {%- if section.settings.newsletter_enable -%}
            <h3 class='footer-modern__heading'>{{ section.settings.newsletter_heading | default: 'Subscribe to our emails' }}</h3>
            {%- if section.settings.newsletter_description != blank -%}
              <p class='footer-modern__newsletter-description'>{{ section.settings.newsletter_description }}</p>
            {%- endif -%}
            {%- form 'customer', id: 'ContactFooter' -%}
              <input type='hidden' name='contact[tags]' value='newsletter'>
              <div class='footer-modern__newsletter-form'>
                {% assign value = form.email %}
                {% capture attr %}
                      aria-required='true'
                      autocorrect='off'
                      {% if form.errors %}
                        autofocus
                        aria-invalid='true'
                        aria-describedby='ContactFooter-error'
                      {% elsif form.posted_successfully? %}
                        aria-describedby='ContactFooter-success'
                      {% endif %}
                      required
                    {% endcapture %}
                <input
                  type='email'
                  name='contact[email]'
                  value='{{ value }}'
                  placeholder='{{ placeholder | default: "Email" }}'
                  class='footer-modern__newsletter-input'
                  {{ attr }}
                >
                <button
                  type='submit'
                  class='footer-modern__newsletter-button'
                  name='commit'
                  id='Subscribe'
                  aria-label='{{ "newsletter.button_label" | t }}'
                >
                  {{ section.settings.newsletter_button_text | default: 'Sign up' }}
                </button>
              </div>
              {% render 'newsletter-form-message', form: form %}
            {%- endform -%}
          {%- endif -%}
        </xo-animate>
      </div>

    </xo-grid>
  </xo-container>

  {% comment %} Bottom Section - Social Media & Payment Icons {% endcomment %}
  <div class='footer-modern__bottom'>
    <xo-container>
      <div class='footer-modern__bottom-content'>
        
        {% comment %} Social Media Icons {% endcomment %}
        {%- if section.settings.show_social -%}
          <div class='footer-modern__social'>
            {%- if section.settings.social_facebook_link != blank -%}
              <a href='{{ section.settings.social_facebook_link }}' target='_blank' class='footer-modern__social-link' aria-label='Facebook'>
                {% render 'icon', name: 'facebook2', icon_size: '20' %}
              </a>
            {%- endif -%}
            {%- if section.settings.social_instagram_link != blank -%}
              <a href='{{ section.settings.social_instagram_link }}' target='_blank' class='footer-modern__social-link' aria-label='Instagram'>
                {% render 'icon', name: 'instagram', icon_size: '20' %}
              </a>
            {%- endif -%}
            {%- if section.settings.social_youtube_link != blank -%}
              <a href='{{ section.settings.social_youtube_link }}' target='_blank' class='footer-modern__social-link' aria-label='YouTube'>
                {% render 'icon', name: 'youtube', icon_size: '20' %}
              </a>
            {%- endif -%}
            {%- if section.settings.social_twitter_link != blank -%}
              <a href='{{ section.settings.social_twitter_link }}' target='_blank' class='footer-modern__social-link' aria-label='Twitter'>
                {% render 'icon', name: 'twitter2', icon_size: '20' %}
              </a>
            {%- endif -%}
            {%- if section.settings.social_pinterest_link != blank -%}
              <a href='{{ section.settings.social_pinterest_link }}' target='_blank' class='footer-modern__social-link' aria-label='Pinterest'>
                {% render 'icon', name: 'pinterest2', icon_size: '20' %}
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}

        {% comment %} Payment Method Icons {% endcomment %}
        {%- if section.settings.show_payment_icons -%}
          <div class='footer-modern__payment'>
            {%- if section.settings.payment_visa -%}
              <span class='footer-modern__payment-icon' aria-label='Visa'>Visa</span>
            {%- endif -%}
            {%- if section.settings.payment_mastercard -%}
              <span class='footer-modern__payment-icon' aria-label='Mastercard'>Mastercard</span>
            {%- endif -%}
            {%- if section.settings.payment_gpay -%}
              <span class='footer-modern__payment-icon' aria-label='Google Pay'>GPay</span>
            {%- endif -%}
            {%- if section.settings.payment_paytm -%}
              <span class='footer-modern__payment-icon' aria-label='Paytm'>Paytm</span>
            {%- endif -%}
            {%- if section.settings.payment_upi -%}
              <span class='footer-modern__payment-icon' aria-label='UPI'>UPI</span>
            {%- endif -%}
            {%- if section.settings.payment_amazon_pay -%}
              <span class='footer-modern__payment-icon' aria-label='Amazon Pay'>Amazon Pay</span>
            {%- endif -%}
            {%- if section.settings.payment_image != blank -%}
              <img
                src='{{ section.settings.payment_image | image_url: width: 400 }}'
                alt='Payment methods'
                class='footer-modern__payment-image'
                loading='lazy'
                width='400'
                height='auto'
              >
            {%- endif -%}
          </div>
        {%- endif -%}

        {% comment %} Copyright {% endcomment %}
        {%- if section.settings.copyright != blank -%}
          <div class='footer-modern__copyright'>
            {{ section.settings.copyright }}
          </div>
        {%- else -%}
          <div class='footer-modern__copyright'>
            <small>&copy; Copyright {{ 'now' | date: '%Y' }} | {{ shop.name | escape | link_to: routes.root_url }}</small>
            <small>{{ powered_by_link }}</small>
          </div>
        {%- endif -%}

      </div>
  </xo-container>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "section-footer",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.all.width.label",
      "default": "box",
      "options": [
        {
          "value": "box",
          "label": "t:sections.all.width.options__1.label"
        },
        {
          "value": "wide",
          "label": "t:sections.all.width.options__2.label"
        },
        {
          "value": "fullwidth",
          "label": "t:sections.all.width.options__3.label"
        }
      ]
    },
    {
      "type": "number",
      "id": "fullwidth_margin",
      "label": "t:sections.all.fullwidth_margin.label",
      "default": 0,
      "visible_if": "{{ section.settings.width == 'fullwidth' }}"
    },
    {
      "type": "header",
      "content": "Column 1 - Information"
    },
    {
      "type": "text",
      "id": "info_heading",
      "label": "Information Column Heading",
      "default": "Information"
    },
    {
      "type": "link_list",
      "id": "info_menu",
      "label": "Information Menu",
      "info": "If no menu is selected, default links will be shown"
    },
    {
      "type": "url",
      "id": "amazon_link",
      "label": "Shop on Amazon Link",
      "info": "Link to your Amazon store"
    },
    {
      "type": "header",
      "content": "Column 2 - Customer Support"
    },
    {
      "type": "text",
      "id": "support_heading",
      "label": "Support Column Heading",
      "default": "Customer Support"
    },
    {
      "type": "link_list",
      "id": "support_menu",
      "label": "Support Menu",
      "info": "If no menu is selected, default links will be shown"
    },
    {
      "type": "url",
      "id": "payment_link",
      "label": "Payment Link",
      "info": "Link to payment page"
    },
    {
      "type": "header",
      "content": "Column 3 - Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Newsletter Heading",
      "default": "Subscribe to our emails"
    },
    {
      "type": "textarea",
      "id": "newsletter_description",
      "label": "Newsletter Description",
      "default": "Get exclusive offers and updates delivered to your inbox.",
      "info": "Short helper text for offers & updates"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter Button Text",
      "default": "Sign up"
    },
    {
      "type": "header",
      "content": "Bottom Section"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "url",
      "id": "social_facebook_link",
      "label": "Facebook Link"
    },
    {
      "type": "url",
      "id": "social_instagram_link",
      "label": "Instagram Link"
    },
    {
      "type": "url",
      "id": "social_youtube_link",
      "label": "YouTube Link"
    },
    {
      "type": "url",
      "id": "social_twitter_link",
      "label": "Twitter/X Link"
    },
    {
      "type": "url",
      "id": "social_pinterest_link",
      "label": "Pinterest Link"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "default": true,
      "label": "Show Payment Icons"
    },
    {
      "type": "checkbox",
      "id": "payment_visa",
      "default": true,
      "label": "Show Visa"
    },
    {
      "type": "checkbox",
      "id": "payment_mastercard",
      "default": true,
      "label": "Show Mastercard"
    },
    {
      "type": "checkbox",
      "id": "payment_gpay",
      "default": true,
      "label": "Show Google Pay"
    },
    {
      "type": "checkbox",
      "id": "payment_paytm",
      "default": true,
      "label": "Show Paytm"
    },
    {
      "type": "checkbox",
      "id": "payment_upi",
      "default": true,
      "label": "Show UPI"
    },
    {
      "type": "checkbox",
      "id": "payment_amazon_pay",
      "default": true,
      "label": "Show Amazon Pay"
    },
    {
      "type": "image_picker",
      "id": "payment_image",
      "label": "Payment Methods Image",
      "info": "Alternative: Upload a single image with all payment icons instead of individual checkboxes"
    },
    {
      "type": "liquid",
      "id": "copyright",
      "label": "t:sections.footer.settings.copyright.label",
      "default": "© Copyright {{ 'now' | date: '%Y' }} | <a href='/' style='color: inherit; text-decoration: underline;'>{{ shop.name }}</a> | Powered by Shopify."
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "t:sections.all.background_type.label",
      "options": [
        {
          "value": "color",
          "label": "t:sections.all.background_type.option__1.label"
        },
        {
          "value": "gradient",
          "label": "t:sections.all.background_type.option__2.label"
        },
        {
          "value": "image",
          "label": "t:sections.all.background_type.option__3.label"
        },
        {
          "value": "video",
          "label": "t:sections.all.background_type.option__4.label"
        }
      ],
      "default": "color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.background_color.label",
      "alpha": true,
      "visible_if": "{{ section.settings.background_type == 'color' }}"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.background_gradient.label",
      "visible_if": "{{ section.settings.background_type == 'gradient' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "t:sections.all.background_image_desktop.label",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.all.background_image_mobile.label",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "t:sections.all.use_parallax.label",
      "default": true,
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_animation",
      "label": "t:sections.all.animation.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.option__0.label"
        },
        {
          "value": "fade",
          "label": "t:sections.all.animation.option__1.label"
        },
        {
          "value": "fade-up",
          "label": "t:sections.all.animation.option__2.label"
        },
        {
          "value": "fade-down",
          "label": "t:sections.all.animation.option__3.label"
        },
        {
          "value": "fade-left",
          "label": "t:sections.all.animation.option__4.label"
        },
        {
          "value": "fade-right",
          "label": "t:sections.all.animation.option__5.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.option__6.label"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.all.animation.option__7.label"
        },
        {
          "value": "rotate-left-up",
          "label": "t:sections.all.animation.option__8.label"
        },
        {
          "value": "rotate-right-up",
          "label": "t:sections.all.animation.option__9.label"
        },
        {
          "value": "snake-up",
          "label": "t:sections.all.animation.option__10.label"
        },
        {
          "value": "snake-down",
          "label": "t:sections.all.animation.option__11.label"
        },
        {
          "value": "snake-left",
          "label": "t:sections.all.animation.option__12.label"
        },
        {
          "value": "snake-right",
          "label": "t:sections.all.animation.option__13.label"
        },
        {
          "value": "3d-up",
          "label": "t:sections.all.animation.option__14.label"
        }
      ],
      "default": "none",
      "visible_if": "{{ section.settings.background_type == 'image' }}"
    },
    {
      "type": "textarea",
      "id": "background_video_url",
      "label": "t:sections.all.background_video_url.label",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "select",
      "id": "background_video_animation",
      "label": "t:sections.all.animation.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.option__0.label"
        },
        {
          "value": "fade",
          "label": "t:sections.all.animation.option__2.label"
        },
        {
          "value": "fade-up",
          "label": "t:sections.all.animation.option__2.label"
        },
        {
          "value": "fade-down",
          "label": "t:sections.all.animation.option__3.label"
        },
        {
          "value": "fade-left",
          "label": "t:sections.all.animation.option__4.label"
        },
        {
          "value": "fade-right",
          "label": "t:sections.all.animation.option__5.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.option__6.label"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.all.animation.option__7.label"
        },
        {
          "value": "rotate-left-up",
          "label": "t:sections.all.animation.option__8.label"
        },
        {
          "value": "rotate-right-up",
          "label": "t:sections.all.animation.option__9.label"
        },
        {
          "value": "snake-up",
          "label": "t:sections.all.animation.option__10.label"
        },
        {
          "value": "snake-down",
          "label": "t:sections.all.animation.option__11.label"
        },
        {
          "value": "snake-left",
          "label": "t:sections.all.animation.option__12.label"
        },
        {
          "value": "snake-right",
          "label": "t:sections.all.animation.option__13.label"
        },
        {
          "value": "3d-up",
          "label": "t:sections.all.animation.option__14.label"
        }
      ],
      "default": "none",
      "visible_if": "{{ section.settings.background_type == 'video' }}"
    },
    {
      "type": "color",
      "id": "background_overlay",
      "label": "t:sections.all.background_overlay.label",
      "alpha": true,
      "visible_if": "{{ section.settings.background_type == 'image' or section.settings.background_type == 'video' }}"
    },
    {
      "type": "number",
      "id": "background_margin",
      "label": "t:sections.all.background_margin.label",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding_top.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding_bottom.label",
      "default": 50
    }
  ]
}
{% endschema %}
